<div class="timer-cup">
    <h3>The fifa World Cup Will Start At</h3>
    <div class="down-time">
        <div>
            <fa-icon class="time-icon" [icon]="faClock">
            </fa-icon>
        </div>
        <div>
            <p class="data-time">{{days}}</p><p class="time"> Days </p>
        </div>
        <div>
            <p class="data-time">{{hours}}</p><p class="time"> Hours </p>
        </div>
        <div>
          <p class="data-time">{{minutes}}</p><p class="time"> Minutes </p>
        </div>
    </div>
</div>
