<div class="login-content">
    <div class="login-components">
    
        <div class="img-login">
            <img id="watches" src="https://res.cloudinary.com/alex4191/image/upload/v1650640315/SEMINARIO/New_Project_p80ijs.png" alt="animal image random">
        </div>
        <div class="data-login">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
                <div class="form-group">
                    <label for="name">*Nombre</label>
                    <input 
                        formControlName="name"
                        id="name" 
                        type="text" 
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                    <div
                    *ngIf="submitted && f.name.errors"
                    class="invalid-feedback"
                    >
                    <div *ngIf="f.name.errors.required">
                        <p class="msg-error">el campo Nombre es requerido</p>
                    </div>
                    </div>
                        
                </div>
                <div class="form-group">
                    <label for="user">*Usuario</label>
                    <input 
                        formControlName="user"
                        id="user" 
                        type="text" 
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.user.errors }"
                        />
                        <div
                    *ngIf="submitted && f.user.errors"
                    class="invalid-feedback"
                    >
                    <div *ngIf="f.user.errors.required">
                        <p class="msg-error">el campo usuario es requerido</p>
                    </div>
                    </div>
                        
                </div>
                <div class="form-group">
                    <label for="email">*Email</label>
                    <input 
                        formControlName="email"
                        id="email" 
                        type="email" 
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        />
                        <div
                    *ngIf="submitted && f.email.errors"
                    class="invalid-feedback"
                    >
                    <div *ngIf="f.email.errors.required">
                        <p class="msg-error">el campo email es requerido</p>
                    </div>
                    </div>    
                </div>
                <div class="form-group">
                    <label for="password">*Password</label>
                    <input 
                        formControlName="password"
                        id="pass" 
                        type="password" 
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                        <div
                        *ngIf="submitted && f.password.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.password.errors.required"><p class="msg-error">el Password es requerido</p></div>
                        <div *ngIf="f.password.errors.minlength">
                        <p class="msg-error">el Password debe tener como minimo 8 caracteres</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cPassword">*Confirmar Password</label>
                    <input 
                        formControlName="cPassword"
                        id="cPassword" 
                        type="password" 
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.cPassword.errors }"/>
    
                        <div
                    *ngIf="submitted && f.cPassword.errors"
                    class="invalid-feedback"
                    >
                    <div *ngIf="f.cPassword.errors.required">
                    <p class="msg-error"> Confirm Password is required</p>
                    </div>
                    <div *ngIf="f.cPassword.errors.mustMatch">
                    <p class="msg-error">Password and confirm not match</p>
                    </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="file">Foto de Perfil</label>
                    <input 
                        formControlName="file"
                        id="file" 
                        type="file" 
                        class="form-control"
                        (change)="onFileChange($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.file.errors }"
                        />
                        <div
                        *ngIf="submitted && f.file.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.file.errors.required">
                        <p class="msg-error">Subir una foto es requerido</p>
                        </div>
                    </div>
                </div>
                    
                <div class="form-group">
                    <div class="image-preview">
                            <div class="image-preview-img">
                                
                                <img [src]="imageSrc" *ngIf="imageSrc">
                            </div>
                    </div>
                </div>
                    
                <div class="form-group">
                    <button class="btn-form-registro" type="submit">Registrarse</button>
                    <button class="btn-form-cancelar" type="reset" [routerLink]="['/home']"  >Cancelar</button>
        
                </div>
            </form>
        </div>
        
    </div>
    </div>