<app-nav-bar></app-nav-bar>
<div>
<main>
    <section class="py-5">
        <img src="https://res.cloudinary.com/alex4191/image/upload/v1650404552/SEMINARIO/maxresdefault_1_m3v8mq.png" alt="myWorldCup-logo" > 
        <button class="btn-info" [routerLink]="['/register']">Click here for more info</button>       
    </section>
</main>
</div>
<app-countdown></app-countdown>
<div class="footer">
    <p id="datos-g">Seminario de Sistemas 1</p>
    <p id="corp">Copyright © 1994 -2022 FIFA. All rights reserved.</p>
</div>