.py-5
    padding: 0 !important
    position: relative
    img
        height:100%
        width:100%
    
    .btn-info
        height: 50px
        width: 400px
        border-radius: 50px
        font-size: 1.4em
        background-color: #c4c4c4
        border: none
        color: black
        text-transform: uppercase
        position: absolute
        top: 84%
        left: 4%

.footer
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center
    background-color: #232323

    #corp
        color: #c4c4c4

    #datos-g
        padding-top: 15px
        font-weight: bold
        color: white
    