.container
    display: flex
    flex-flow: row

.user-info
    flex: 40%
    display: flex
    flex-flow: column
    align-items: center
    padding-top: 20px
    font-family: 'Bebas Neue', cursive
    font-size: 1.2em

.menu-lobby
    flex: 60%
    display: flex
    align-items: center
    justify-content: center

.data-user
    width: 100%
    display: flex
    align-items: center
    justify-content: center
   
   

.data-recived
    color: #616060
    margin-left: 20px

.rounded-circle
    max-width: 340px
    max-height: 240px
    object-fit: cover   

/*GRID LAYOUR*/
.container-grid
    padding-top: 10px
    width: 100%
    display: grid
    grid-template-columns: auto auto auto
    grid-row: auto auto
    grid-column-gap: 20px
    grid-row-gap: 20px
    

    .box
        height: 250px
        padding: 20px
        border-radius: 10px
        color: black
        text-transform: uppercase
        display: flex
        flex-flow: column
        align-items: center
        justify-content: center
        font-size: 2.1em
        font-family: 'Bebas Neue', cursive
        margin-top: 20px
       

        img
            padding: 10px
            max-height: 100%
            max-width: 100%
            object-fit: cover
        
        p
            padding-top: 10px
    
.box:hover
    cursor: pointer
    background-color: #bab3b374
    border: 2px dotted #6c6c6c7b

