<app-navbar-home></app-navbar-home>
<div class="container">
    <div class="user-info">
        <div class="col-md-6 mb-4">
            <img class="rounded-circle" alt="100x100" [src]="foto"
              data-holder-rendered="true">  
        </div>
        <div class="data-user">
            <p> <fa-icon class="faTrophy" [icon]="faUserAlt">
            </fa-icon> Nombre: </p>
            <p class="data-recived"> {{name}}</p>
        </div>
        <div class="data-user">
            <p> <fa-icon class="faTrophy" [icon]="faUser">
            </fa-icon> Usuario: </p>
            <p class="data-recived"> {{username}}</p>
        </div>
        <div class="data-user">
            <p> <fa-icon class="faTrophy" [icon]="faMailBulk">
            </fa-icon> Email: </p>
            <p class="data-recived"> {{email}}</p>
        </div>
        <div class="data-user">
            <p> <fa-icon class="faTrophy" [icon]="faTrophy">
            </fa-icon> Puntuacion: </p>
            <p class="data-recived"> {{puntos}}</p>
        </div>
        <div class="data-user">
            <button (click)="open(contents)" class="sub"><fa-icon class="faTrophy" [icon]="faBell">
            </fa-icon> Subscribe</button>
            
        </div>
        <div class="data-user">
            <button (click)="sendMail()">Test</button>
        </div>
    
    </div>
    <div class="menu-lobby">
        <div class="container-grid">
            <div class="box">
              <img src="https://res.cloudinary.com/alex4191/image/upload/v1651443213/SEMINARIO/kisspng-computer-icons-color-chart-5ad83069b77743.9995103415241176097515_zug2su.png">
              <p>Top Scores</p>
            </div>
            <div class="box" [routerLink]="['/confederations']" routerLinkActive="router-link-active" >
                <img src="https://res.cloudinary.com/alex4191/image/upload/v1651443680/SEMINARIO/map-blue_vljorz.png">
                <p>WC Confederations</p>
            </div>
            <div class="box" [routerLink]="['/trivia']" routerLinkActive="router-link-active" >
                <img src="https://res.cloudinary.com/alex4191/image/upload/v1651443892/SEMINARIO/kisspng-vector-graphics-logo-question-stock-photography-im-5bfca0bad3f297.5309902415432828748681_hpx5bm.png">
                <p>Trivia</p>
            </div>
            <div class="box">
                <img src="https://res.cloudinary.com/alex4191/image/upload/v1651444481/SEMINARIO/5856a6964f6ae202fedf2768_rdpsqs.png">
                <p>Stadiums</p>
            </div>
            <div class="box">
                <img src="https://res.cloudinary.com/alex4191/image/upload/v1651553806/SEMINARIO/Lovepik_com-401336039-football-match-icon-free-vector-illustration-material_b6xuww.png">
                <p>Matches</p>
            </div>
            <div class="box" [routerLink]="['/findPlayer']" routerLinkActive="router-link-active" >
                <img src="https://res.cloudinary.com/alex4191/image/upload/v1651551522/SEMINARIO/player_v0fx1t.png">
                <p>Find Player</p>
            </div>
          </div>
    </div>
      <ng-template #contents let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Subscribe and get all information</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">*Email</label>
                <input 
                    name="emailSubscribe"
                    id="emailSubscribe" 
                    type="text" 
                    class="form-control"
                    [(ngModel)]="emailSubscribe"
                 />
                    
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-dark" (click)="onSubscribe(emailSubscribe)">Subscribirse</button>
                </div>
            </div>
      </ng-template>
</div>
