.container
    display: flex
    flex-flow: row

.user-info
    flex: 40%
    display: flex
    flex-flow: column
    align-items: center
    padding-top: 20px
    font-family: 'Bebas Neue', cursive
    font-size: 1.2em

.menu-lobby
    flex: 60%
    background-color: green

.data-user
    width: 100%
    display: flex
    align-items: center
    justify-content: center
   
   

.data-recived
    color: #616060
    margin-left: 20px

.rounded-circle
    max-width: 340px
    max-height: 240px
    object-fit: cover   